<ul class="nav">
  <li>
    <%= link_to "postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <em><%= link_to 'new post', new_post_path %></em>
  </li>
</br>
  <li>
    <em><%= link_to 'new category', new_category_path %></em>
  </li>

</ul>

